.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: var(--color-text-red);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
