body {
  font-family: var(--font-Poppins-text);
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  overflow-x: hidden;
}

/********** header **********/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #c34a3695;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ver {
  border-left: 1px solid #ffffff90;
  padding-left: 8px;
  color: #fff;
}

.nav-link img {
  width: 20px;
  height: 20px;
}

.logo-title {
  background-image: linear-gradient(
    to left,
    #ffffff,
    #ffedff,
    #ffd6d7,
    #ffdc73,
    #e9ff00
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: var(--font-Pacifico-title);
  font-size: var(--font-medium-title);
}

/********* section main **********/
.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.rocket-img {
  width: 100%;
  max-width: 500px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title h1 {
  font-weight: 900;
  font-size: var(--font-large-title);
  color: var(--color-text-red);
}

.section-title h1,
h4 {
  padding: 0 !important;
  margin: 0 !important;
}

#start-btn {
  max-width: 150px;
}

/********* section extract **********/
.extract-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  color: var(--color-text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-text-red);
  padding-bottom: 4px;
  min-width: 350px;
  margin-bottom: 5rem;
}

.extract-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.extract-part h4 {
  font-weight: 900;
}

.extract-part p {
  padding: 0;
  font-size: var(--font-small-text);
  text-align: justify;
}

/********** section result **********/

.result-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.header-title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-text-red);
  padding-bottom: 4px;
  min-width: 350px;
}

.image-part .result {
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-image: url("../image/default.jfif");
}

.image-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.download-btn {
  max-width: 200px;
}

.btn-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 468px) {
  .image-part .result {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 380px) {
  .image-part .result {
    width: 300px;
    height: 300px;
  }
}

/********** animations **********/

#typewriter {
  width: 100%;
}

.border {
  width: 300px;
  height: 100px;
  background: linear-gradient(90deg, var(--color-bg-dark) 50%, transparent 50%),
    linear-gradient(90deg, var(--color-bg-dark) 50%, transparent 50%),
    linear-gradient(0deg, var(--color-bg-dark) 50%, transparent 50%),
    linear-gradient(0deg, var(--color-bg-dark) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 200px 100px, 0px 100px, 340px 0px;
  animation: border-dance 30s infinite linear;
  border: none !important;
}

.list-group-flush,
.list-group-item {
  background-color: transparent;
  border-color: #000;
}
