body {
  font-family: var(--font-Poppins-text);
  background-color: #fff;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ff252590;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ver {
  border-left: 1px solid #ffffff90;
  padding-left: 8px;
  color: #fff;
}

.nav-link img {
  width: 20px;
  height: 20px;
}

.logo-title {
  background-image: linear-gradient(
    to left,
    #ffffff,
    #ffedff,
    #ffd6d7,
    #ffdc73,
    #e9ff00
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: var(--font-Pacifico-title);
  font-size: var(--font-medium-title);
}

/********* section 1 **********/
.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rocket-img {
  max-width: 500px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title h1 {
  font-weight: 900;
  font-size: var(--font-large-title);
  color: var(--color-text-red);
}

.section-title h3 {
}
