:root {
  --font-Pacifico-title: "Pacifico", cursive;
  --font-Poppins-text: "Poppins", sans-serif;

  --font-small-text: 1.1rem;

  --font-medium-title: 1.5rem;
  --font-large-title: 3rem;

  --color-bg-main: #fff;
  --color-bg-cream: #dde9cf;
  --color-bg-sky: #ebdcf5;
  --color-bg-dark: #ccc;

  --color-text-dark: #00000090;
  --color-text-red: #e82d62;
}
